.article-habillage {

    .video .video-wrapper video {
        height: unset;
        max-height: 100%;
        width: 60%;
    }

    /*.titreRubrique {
        text-align: center;
        background-color: green;
        height:3em;
        font-size: 3em;
        display:flex;
        border: 1px solid black;
        justify-content: space-evenly;
        align-items: center;
    }
    .titrePoste {
        text-align: center;
        height: 1em;
        font-size: 2em;
        margin: 0;
    }
    
    div#flex-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 15em;

    }
    div.flex-items {
        width: 40%;
    }
    div.content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - 2em);
        margin-top: 0px;
    }
    
    .videoMilieu {
        display: flex;
        align-items: center;
        height: 100%; 
        object-fit: fill;  
        margin: auto;  
        
    }*/
}