.article-dessalement {
    .quarter-section .image img{

        margin-left: 75%;
    }

    .half-section .paragraph p{

        width: 125%;
    }

    .image2 img{

        margin-left: 10%;
    }


	
}