@import 'variables';

body {
    margin: 0;
    font-family: HelveticaNeue-Light, Helvetica, sans-serif, Classic, Alegreya-Regular;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}

.app {
    min-height: 100vh;
    background: $primary-color;
}

