@import 'variables';

body {

    margin: 0;
    font-family: $default-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {

    min-height: 100vh; // Prend au moins tout l'écran
    background: $background-color; // Couleur de fond
    flex-direction: column;
    justify-content: space-between;
}

main {

    min-height: calc(100vh - $nav-height - $footer-height); // Le corps principal doit prendre toute la fenêtre à l'exception des panneaux de navigation et de footer
}
