@import 'variables';

body {

    margin: 0;
    font-family: $default-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {

    min-height: 100vh; // Prend au moins tout l'écran
    background: $background-color; // Couleur de fond
    flex-direction: column;
    justify-content: space-between;
}

main {

    padding: 0 2rem;
    min-height: calc(100vh - $nav-height - $footer-height); // Le corps principal doit prendre toute la fenêtre à l'exception des panneaux de navigation et de footer
}

.half-section {

    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.third-section {

    display: inline-block;
    width: 33.3%;
    vertical-align: top;
}

.two-third-section {

    display: inline-block;
    width: 66.6%;
    vertical-align: top;
}

.quarter-section {

    display: inline-block;
    width: 25%;
    vertical-align: top;
}