@import '../variables';

footer {
    
    min-height: $footer-height;
    background: $footer-color;
    padding: 1rem;

    .left, .right {

        display: inline-block;
        width: 50%;
        height: 100%;

        .footer-line {

            color: white;
            margin: 0.25rem 0;

            a {
                text-decoration: underline;
                color: inherit;   
            }

            a:hover {

                color: lightgray;
            }
        }
    }

    .left {

        text-align: left;
    }

    .right {

        text-align: right;
    }

    .footer-picture {

        width: 100%;
        margin-top: 5rem;
        margin-bottom: -4px;

        img {

            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}