@font-face {
    
    font-family: 'Brother 1816';
    src: local('Brother 1816 Light'), local('Brother-1816-Light'),
        url('Brother1816-Light.woff2') format('woff2'),
        url('Brother1816-Light.woff') format('woff'),
        url('Brother1816-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}