@import '../variables';

nav {

    height: $nav-height;

    .nav-icon {

        display: inline-block;
        height: 100%;
        cursor: pointer;

        img { height: 100%; }
    }

    ul {
        
        float: right;
    }
}
